/* Web Fonts ----------------------- */

/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em;
}

body {
  font: 600 100%/1.5 "Inter", sans-serif;
  margin: 1rem;
}
h1,
h2 {
  font: 600 3.25rem/0 "Inter", sans-serif;
}
h1 {
  text-shadow: 1px 2px 3px rgba(0, 10, 30, 0.5);
  display: inline-block;
  margin-top: 10px;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 1rem;
}
img {
  width: 100%; /* responsive images */
}

/* Main Styles --------------------- */
.container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  column-gap: 20px;

  padding: 3rem;
  .left {
    margin: 0 auto;
    background-color: aqua;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    .text {
      text-align: left;
      position: relative;
      top: 15%;
      left: 20%;
      grid-row-start: 2;
      h2 {
        display: inline-block;
        text-align: left;
      }
    }
  }
}

.card {
  max-width: 10rem;
  padding: 0.2rem 1rem;
  border: 2px solid #ce9b7c;
  border-radius: 1rem;
  background-color: #c97f55;
  text-align: center;
  background: linear-gradient(to right, #b76c46, #eea571);
  border: 0;
  color: white;
  align-items: center;

  h3 {
    border: 0;
    color: white;
  }

  .overlay & {
    max-width: 5rem;
    height: 2.2rem;
    background-color: red;
    position: relative;
    top: 9%;
    left: 12%;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.5),
      /* Soft white */ rgba(255, 255, 255, 0.7),
      /* Light white */ rgba(255, 255, 255, 0.9),
      /* Very light white */ rgba(255, 255, 255, 0.7),
      /* Light white */ rgba(255, 255, 255, 0.5) /* Soft white */
    );

    border-color: white;

    /*
    > * {
      filter: invert(1);
    }
    */
    h2 {
      text-shadow: 0 2px 2px black;
    }
  }
}

/* body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  max-width: 100%;
  overflow: clip;
} */

#main {
  place-items: center;
  position: relative;
  top: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

/* Media Queries ------------------- */
